<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html ng-app = 'ferryTransit'>
  <head>
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-i18n/angular-locale_ja.js"></script>
    <script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="./js/controller.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47075466-2', 'auto');
      ga('send', 'pageview');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="webclip.png" />
  </head>
  <body>
    <div class="container">
      <div ng-controller="mainCtrl as main">
        <div class="page-header">
          <h2>{{ 'TITLE' | translate }}</h2>
        </div>
        <uib-tabset ng-model="tabModel">
          <uib-tab index="0" heading="{{'TIMETABLE' | translate}}" select="updateTimetable()">
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{'DEPARTURE' | translate}}/{{'ARRIVAL' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-10">
                    <label>{{'_FROM' | translate}}</label>
                    <div class="btn-group" uib-dropdown is-open="status.tableDepartureIsOpen" ng-click="submit()">
                      <button id="from-button" on-toggle="toggled(open)" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{departure|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="from-button">
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableDeparture(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableDeparture(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableDeparture(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label>{{'FROM_' | translate}}</label>
                    <br>
                    <label>{{'_TO' | translate}}</label>
                    <div class="btn-group" uib-dropdown is-open="status.tableArrivalIsOpen">
                      <button id="to-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{arrival|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="to-button">
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableArrival(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableArrival(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableArrival(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label>{{'TO_' | translate}}</label>
                  </div>
                  <div class="col-xs-2">
                    <div class="row">
                      <div class="col-xs-12">
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="button" class="btn btn-primary" ng-click="reversal()">
                          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                         <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{'DATE' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <p class="input-group" ng-controller="datePickerCtrl as datePicker">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" current-text="{{'TODAY'|translate}}" clear-text="{{'CLEAR'|translate}}" close-text="{{'CLOSE'|translate}}" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title">{{'TIMETABLE' | translate}}</h2>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr><th>{{'SHIP'|translate}}</th><th>{{departure|translate}}</th><th>{{arrival|translate}}</th></tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="trip in timetable | orderBy: 'departure_time'">
                      <td>{{trip.name|translate}}</td>
                      <td>{{trip.departure_time | date:'H:mm'}} {{trip.departure | translate}}</td>
                      <td>{{trip.arrival_time | date:'H:mm'}} {{trip.arrival | translate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="{{'TRANSIT'| translate}}">
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{'DEPARTURE' | translate}}/{{'ARRIVAL' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-10">
                    <style>
                      li.groupname { margin-left: 10px; font-weight: bold;}
                    </style>
                    <label>{{ '_FROM' | translate }}</label>
                    <div class="btn-group" uib-dropdown is-open="status.departureIsOpen" ng-click="submit()">
                      <button id="from-button" on-toggle="toggled(open)" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{departure|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="from-button">
                        <li class="groupname">{{'MAINLAND'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitDeparture(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOZEN'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitDeparture(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOGO'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitDeparture(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label>{{ 'FROM_' | translate }}</label>
                    <br>
                    <label>{{ '_TO' | translate }}</label>
                    <div class="btn-group" uib-dropdown is-open="status.arrivalIsOpen">
                      <button id="to-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{arrival|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="to-button">
                        <li class="groupname">{{'MAINLAND'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitArrival(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOZEN'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitArrival(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOGO'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitArrival(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label>{{ 'TO_' | translate }}</label>
                  </div>
                  <div class="col-xs-2">
                    <div class="row">
                      <div class="col-xs-12">
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="button" class="btn btn-primary" ng-click="reversal()">
                          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                         <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{'DATE' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-group">
                      <label class="btn btn-primary" ng-model="daytimeModel" ng-click="selectDepartureTime()" uib-btn-radio="'departureTime'">{{'DEPARTURE_TIME'|translate}}</label>
                      <label class="btn btn-primary" ng-model="daytimeModel" ng-click="selectArrivalTime()" uib-btn-radio="'arrivalTime'">{{'ARRIVAL_TIME'|translate}}</label>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <p class="input-group" ng-controller="datePickerCtrl as datePicker">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" current-text="{{'TODAY'|translate}}" clear-text="{{'CLEAR'|translate}}" close-text="{{'CLOSE'|translate}}" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <input type="time" class="form-control visible-xs-block" ng-model="data.date" ng-change="timeChanged()"/>
                    <div class="hidden-xs">
                      <uib-timepicker ng-model="data.date" ng-change="timeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--
            <uib-accordion>
              <uib-accordion-group is-open="status.open">
                <uib-accordion-heading>
                  {{'ADD_CONDITIONS'|translate}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="withCar">{{'VIA_CAR'|translate}}</input>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="exceptFastFerry">{{'DO_NOT_USE_FAST_FERRY'|translate}}</input>
                  </label>
                </div>
              </uib-accordion-group>
            </uib-accordion>
            -->
            <button type="button" id="searchButton" class="btn btn-primary btn-lg btn-block" ng-click="searchRoute()">{{'SEARCH_ROUTE'|translate}}</button>
            <br>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div class="panel panel-primary" ng-repeat="result in searchResults">
              <div class="panel-heading">
                <h2 class="panel-title">{{'ROUTE' | translate}}{{$index+1}}</h2>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>{{'TIME' | translate}}</th><th>{{'ROUTE' | translate}}</th><th>{{'FARE' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <style>
                      tr.tbl-bg-clr-odd { background-color: lightblue; }
                      tr.tbl-bg-clr-even { background-color: white;}
                      td#time.tbl-bg-clr-even { text-align: right; }
                      td#FERRY_OKI.tbl-bg-clr-even { border-left: double 10px #DA6272; }
                      td#FERRY_SHIRASHIMA.tbl-bg-clr-even { border-left: double 10px #DA6272; }
                      td#FERRY_KUNIGA.tbl-bg-clr-even { border-left: double 10px #DA6272; }
                      td#FERRY_DOZEN.tbl-bg-clr-even { border-left: double 10px #F3C759; }
                      td#ISOKAZE.tbl-bg-clr-even { border-left: double 10px #45A1CF; }
                      td#RAINBOWJET.tbl-bg-clr-even { border-left: double 10px #40BFB0; }
                    </style>
                    <tr ng-repeat="desc in result" ng-class-even="tblBgClr.even" ng-class-odd="tblBgClr.odd">
                      <td id="time" ng-class-even="tblBgClr.even" ng-class-odd="tblBgClr.odd">{{desc.time}}</td>
                      <td id="{{desc.port}}" ng-class-even="tblBgClr.even" ng-class-odd="tblBgClr.odd">{{desc.port | translate}}</td>
                      <td>{{desc.price}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button type="button" id="moreRoute" ng-hide="hideMore" class="btn btn-primary btn-lg btn-block" ng-click="showMore()">{{'MORE_BUTTON'|translate}}</button>
            <br>
          </uib-tab>
          <uib-tab index="2" heading="{{'SHIP_STATUS'| translate}}">
            <br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{'OKI_KISEN' | translate}}</h2>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>{{'SHIP' | translate}}</th>
                      <th>{{'SHIP_STATUS' | translate}}</th>
                    </tr>
                    <tr>
                      <td>
                        {{'FERRY_OKI' | translate}}<br>
                        {{'FERRY_SHIRASHIMA' | translate}}<br>
                        {{'FERRY_KUNIGA' | translate}}
                      </td>
                      <td rowspan="2">
                        <a href="http://www.oki-kisen.co.jp/m/unkou.php">{{'OKI_KISEN'|translate}}{{'SHIP_STATUS'|translate}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'RAINBOWJET' | translate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">{{'OKI_KANKO' | translate}}</h2>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>{{'SHIP' | translate}}</th>
                      <th>{{'SHIP_STATUS' | translate}}</th>
                    </tr>
                    <tr>
                      <td>
                        {{'FERRY_DOZEN' | translate}}
                      </td>
                      <td rowspan="2">
                        <address>
                          {{'CONTACT' | translate}}:<br>
                          {{'OKI_KANKO' | translate}}{{'COMPANY' | translate}} <a href="tel:0851460016">08514-6-0016</a>
                        </address>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{'ISOKAZE' | translate}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Powered by <a href="http://naturebot-lab.com/">naturebot.lab</a></p>
      </div>
    </footer>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- naturebot.lab -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7793130406871610"
         data-ad-slot="7173903284"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
