<!DOCTYPE html>
<html ng-app = 'ferryTransit'>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="島根県隠岐諸島のフェリー・内航船の時刻表と乗換案内" />
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css?ver=20171020">
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-i18n/angular-locale_ja.js"></script>
    <script type="text/javascript" src="./node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="./node_modules/angular-filter/dist/angular-filter.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/controller.js?ver=20171020"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47075466-2', 'auto');
      ga('set', 'checkProtocolTask', null);
      ga('send', 'pageview');
    </script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="webclip.png" />
    <title>隠岐航路案内 - Oki Islands Sea Line Information</title>
  </head>
  <body>
    <div class="container">
      <div ng-controller="mainCtrl as main">
        <div class="page-header">
          <h2 ng-cloak>{{ 'TITLE' | translate }}</h2>
        </div>
        <!--
        <div class="panel panel-default" id="news">
          <div class="panel-heading">
            <h2 class="panel-title" ng-cloak>{{ 'NEWS' | translate }}</h2>
          </div>
          <div class="panel-body">

          </div>
        </div>
        -->
        <uib-alert ng-repeat="alert in warningAlerts" type="{{alert.type}}" close="closeWarningAlert($index)" ng-cloak>
          <div ng-if="warningAlerts.length > 0" class="alert alert-warning alert-dismissible" role="alert">
          	<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
            {{alert.msg}}
          </div>
        </uib-alert>
        <uib-alert ng-repeat="alert in dangerAlerts" type="{{alert.type}}" close="closeDangerAlert($index)" ng-cloak>
          <div ng-if="dangerAlerts.length > 0" class="alert alert-danger alert-dismissible" role="alert">
          	<button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
            {{alert.msg}}
          </div>
        </uib-alert>
        <uib-tabset ng-model="tabModel">
          <uib-tab index="0" select="updateTimetable()">
            <uib-tab-heading>
              <b ng-cloak>{{'TIMETABLE' | translate}}</b>
            </uib-tab-heading>
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'DEPARTURE' | translate}}/{{'ARRIVAL' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-10">
                    <label ng-cloak>{{'_FROM' | translate}}</label>
                    <div class="btn-group" uib-dropdown is-open="status.tableDepartureIsOpen" ng-click="submit()" ng-cloak>
                      <button id="from-button" on-toggle="toggled(open)" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" ng-cloak>
                        {{departure|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="from-button">
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableDeparture(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableDeparture(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableDeparture(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label ng-cloak>{{'FROM_' | translate}}</label>
                    <br>
                    <label ng-cloak>{{'_TO' | translate}}</label>
                    <div class="btn-group" uib-dropdown is-open="status.tableArrivalIsOpen">
                      <button id="to-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" ng-cloak>
                        {{arrival|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="to-button">
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableArrival(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableArrival(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTimetableArrival(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label ng-cloak>{{'TO_' | translate}}</label>
                  </div>
                  <div class="col-xs-2">
                    <div class="row">
                      <div class="col-xs-12">
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="button" class="btn btn-primary" ng-click="reversal()">
                          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                         <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'DATE' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <p class="input-group" ng-controller="datePickerCtrl as datePicker">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" current-text="{{'TODAY'|translate}}" clear-text="{{'CLEAR'|translate}}" close-text="{{'CLOSE'|translate}}" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'TIMETABLE' | translate}}</h2>
              </div>
              <div class="panel-body">
                <table class="table" ng-cloak>
                  <thead>
                    <tr><th>{{'SHIP'|translate}}</th><th><a href="" ng-click="showPort(departure)">{{departure|translate}}</a></th><th><a href="" ng-click="showPort(arrival)">{{arrival|translate}}</a></th></tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="trip in timetable | orderBy: 'departure_time'">
                      <td ng-if="trip.status >= 0">
                        <span ng-if="(trip.status > 0) && (trip.status < 3)"><i class="glyphicon glyphicon-remove-sign text-danger"></i> </span>
                        <span ng-if="trip.status === 3"><i class="glyphicon glyphicon-warning-sign text-warning"></i> </span>
                        <span ng-if="trip.status === 4"><i class="glyphicon glyphicon-plus-sign text-success"></i> </span>
                        <a href="" ng-click="showShip(trip.name)">{{trip.name|translate}}</a>
                      </td>
                      <td ng-if="trip.status >= 0"><span ng-class="{'del': (0 < trip.status) && (trip.status < 3)}">{{trip.departure_time | date:'H:mm'}} {{trip.departure | translate}}</span></td>
                      <td ng-if="trip.status >= 0"><span ng-class="{'del': (0 < trip.status) && (trip.status < 3)}">{{trip.arrival_time | date:'H:mm'}} {{trip.arrival | translate}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1">
            <uib-tab-heading>
              <b ng-cloak>{{'TRANSIT'| translate}}</b>
            </uib-tab-heading>
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'DEPARTURE' | translate}}/{{'ARRIVAL' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-10">
                    <style>
                      li.groupname { margin-left: 10px; font-weight: bold;}
                    </style>
                    <label ng-cloak>{{ '_FROM' | translate }}</label>
                    <div class="btn-group" uib-dropdown is-open="status.departureIsOpen" ng-click="submit()">
                      <button id="from-button" on-toggle="toggled(open)" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" ng-cloak>
                        {{departure|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="from-button" ng-cloak>
                        <li class="groupname">{{'MAINLAND'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitDeparture(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOZEN'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitDeparture(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOGO'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitDeparture(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label ng-cloak>{{ 'FROM_' | translate }}</label>
                    <br>
                    <label ng-cloak>{{ '_TO' | translate }}</label>
                    <div class="btn-group" uib-dropdown is-open="status.arrivalIsOpen" ng-cloak>
                      <button id="to-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{arrival|translate}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="to-button">
                        <li class="groupname">{{'MAINLAND'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitArrival(port)" ng-repeat="port in hondoPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOZEN'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitArrival(port)" ng-repeat="port in dozenPorts">{{port|translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="groupname">{{'DOGO'|translate}}</li>
                        <li role="menuitem">
                          <a href="#" ng-click="changeTransitArrival(port)" ng-repeat="port in dogoPorts">{{port|translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <label ng-cloak>{{ 'TO_' | translate }}</label>
                  </div>
                  <div class="col-xs-2">
                    <div class="row">
                      <div class="col-xs-12">
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="button" class="btn btn-primary" ng-click="reversal()">
                          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                         <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'DATE' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-group" ng-cloak>
                      <label class="btn btn-primary" ng-model="daytimeModel" ng-click="selectDepartureTime()" uib-btn-radio="'departureTime'">{{'DEPARTURE_TIME'|translate}}</label>
                      <label class="btn btn-primary" ng-model="daytimeModel" ng-click="selectArrivalTime()" uib-btn-radio="'arrivalTime'">{{'ARRIVAL_TIME'|translate}}</label>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <p class="input-group" ng-controller="datePickerCtrl as datePicker" ng-cloak>
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" current-text="{{'TODAY'|translate}}" clear-text="{{'CLEAR'|translate}}" close-text="{{'CLOSE'|translate}}" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <input type="time" class="form-control visible-xs-block" ng-model="data.date" ng-change="timeChanged()"/>
                    <div class="hidden-xs">
                      <div uib-timepicker ng-model="data.date" ng-change="timeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--
            <uib-accordion>
              <uib-accordion-group is-open="status.open">
                <uib-accordion-heading>
                  {{'ADD_CONDITIONS'|translate}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="withCar">{{'VIA_CAR'|translate}}</input>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="exceptFastFerry">{{'DO_NOT_USE_FAST_FERRY'|translate}}</input>
                  </label>
                </div>
              </uib-accordion-group>
            </uib-accordion>
            -->
            <button type="button" id="searchButton" class="btn btn-primary btn-lg btn-block" ng-click="searchRoute()" ng-cloak>{{'SEARCH_ROUTE'|translate}}</button>
            <br>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-cloak>{{alert.msg}}</uib-alert>
            <div class="panel panel-primary" ng-repeat="result in searchResults">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'ROUTE' | translate}}{{$index+1}}</h2>
              </div>
              <div class="panel-body">
                <table class="table" ng-cloak>
                  <thead>
                    <tr>
                      <th>{{'TIME' | translate}}</th><th>{{'ROUTE' | translate}}</th><th>{{'FARE' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <style>
                      tr.tbl-bg-clr-odd { background-color: #D8ECF3; }
                      tr.tbl-bg-clr-even { background-color: white;}
                      td#time.tbl-bg-clr-even { text-align: right; }
                      td#FERRY_OKI.tbl-bg-clr-even { border-left: double 10px #DA6272; }
                      td#FERRY_SHIRASHIMA.tbl-bg-clr-even { border-left: double 10px #DA6272; }
                      td#FERRY_KUNIGA.tbl-bg-clr-even { border-left: double 10px #DA6272; }
                      td#FERRY_DOZEN.tbl-bg-clr-even { border-left: double 10px #F3C759; }
                      td#ISOKAZE.tbl-bg-clr-even { border-left: double 10px #45A1CF; }
                      td#RAINBOWJET.tbl-bg-clr-even { border-left: double 10px #40BFB0; }
                    </style>
                    <tr ng-repeat="desc in result" ng-class-even="tblBgClr.even" ng-class-odd="tblBgClr.odd">
                      <td id="time" ng-class-even="tblBgClr.even" ng-class-odd="tblBgClr.odd">{{desc.time}}</td>
                      <td id="{{desc.port}}" ng-class-even="tblBgClr.even" ng-class-odd="tblBgClr.odd">
                        <span ng-if="(desc.status > 0) && (desc.status < 3)"><i class="glyphicon glyphicon-remove-sign text-danger"></i> </span>
                        <span ng-if="desc.status === 3"><i class="glyphicon glyphicon-warning-sign text-warning"></i> </span>
                        <span ng-if="desc.status === 4"><i class="glyphicon glyphicon-plus-sign text-success"></i> </span><a href="" ng-click="showShipOrPort(desc.port)">{{desc.port | translate}}</a></td>
                      <td>{{desc.price}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button type="button" id="moreRoute" ng-hide="hideMore" class="btn btn-primary btn-lg btn-block" ng-click="showMore()" ng-cloak>{{'MORE_BUTTON'|translate}}</button>
            <br>
          </uib-tab>
          <uib-tab index="2">
            <uib-tab-heading ng-cloak><b>{{'SHIP_STATUS'| translate}}</b>
              <span ng-if="(statusIsokaze.hasAlert && statusIsokaze.status !== 0) || (statusDozen.hasAlert && statusDozen.status !== 0) || (statusFerry.hasAlert && ((statusFerry.ferryState !== '正常運航') || (statusFerry.fastFerryState !== '正常運航')))" class="badge" style="background-color: #a94442;">!</span>
            </uib-tab-heading>
            <br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'OKI_KISEN' | translate}}</h2>
              </div>
              <div ng-if="statusSuccess" class="panel-body">
                <dl>
                  <dt>{{'UPDATE_TIME' | translate}}</dt>
                  <dd>{{ statusFerry.date }}</dd>
                </dl>
                <div class="panel" ng-class="{'panel-default': !statusFerry.hasAlert, 'panel-info': statusFerry.ferryState === '定期運航', 'panel-danger': statusFerry.ferryState === '欠航', 'panel-warning': (statusFerry.ferryState === '運航に変更あり') || (statusFerry.ferryState === '休航')}">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak>
                      <a href="" ng-click="showShip('FERRY_OKI')">{{'FERRY_OKI' | translate}}</a> /
                      <a href="" ng-click="showShip('FERRY_SHIRASHIMA')">{{'FERRY_SHIRASHIMA' | translate}}</a> /
                      <a href="" ng-click="showShip('FERRY_KUNIGA')">{{'FERRY_KUNIGA' | translate}}</a>
                    </h2>
                  </div>
                  <div class="panel-body">
                    <div ng-if="statusFerry.hasAlert" ng-cloak>
                      <dl>
                        <dt>{{'SHIP_STATUS' | translate}}</dt>
                        <dd>{{ statusFerry.ferryState | translate }}</dd>
                      </dl>
                      <dl>
                        <dt>{{'COMMENT' | translate}}</dt>
                        <dd>{{ statusFerry.ferryComment }} <a ng-if="language() === 'en'" href="https://translate.google.co.jp/?hl=ja#view=home&op=translate&sl=ja&tl=en&text={{ statusFerry.ferryComment }}"><i class="glyphicon glyphicon-transfer"></i> English</a></dd>
                      </dl>
                    </div>
                    <div ng-if="!statusFerry.hasAlert" ng-cloak>
                      {{'NO_ALERT' | translate}}
                    </div>
                  </div>
                </div>

                <div class="panel" ng-class="{'panel-default': !statusFerry.hasAlert, 'panel-info': statusFerry.fastFerryState === '定期運航', 'panel-danger': statusFerry.fastFerryState === '欠航', 'panel-warning': (statusFerry.fastFerryState === '運航に変更あり') || (statusFerry.fastFerryState === '休航')}">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak>
                      <a href="" ng-click="showShip('RAINBOWJET')">{{'RAINBOWJET' | translate}}</a>
                    </h2>
                  </div>
                  <div class="panel-body">
                    <div ng-if="statusFerry.hasAlert" ng-cloak>
                      <dl>
                        <dt>{{'SHIP_STATUS' | translate}}</dt>
                        <dd>{{ statusFerry.fastFerryState | translate }}</dd>
                      </dl>
                      <dl>
                        <dt>{{'COMMENT' | translate}}</dt>
                        <dd>{{ statusFerry.fastFerryComment }} <a ng-if="language() === 'en'" href="https://translate.google.co.jp/?hl=ja#view=home&op=translate&sl=ja&tl=en&text={{ statusFerry.fastFerryComment }}"><i class="glyphicon glyphicon-transfer"></i> English</a></dd>
                      </dl>
                    </div>
                    <div ng-if="!statusFerry.hasAlert" ng-cloak>
                      {{'NO_ALERT' | translate}}
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak>
                      {{'WAVEINFO' | translate}}
                    </h2>
                  </div>
                  <div class="panel-body">
                    <div ng-if="statusFerry.hasAlert" ng-cloak>
                      <dl>
                        <dt>{{'TODAY' | translate}}</dt>
                        <dd>{{ statusFerry.todayWave }}</dd>
                      </dl>
                      <dl>
                        <dt>{{'TOMORROW' | translate}}</dt>
                        <dd>{{ statusFerry.tomorrowWave }}</dd>
                      </dl>
                    </div>
                    <div ng-if="!statusFerry.hasAlert" ng-cloak>
                      {{'NO_ALERT' | translate}}
                    </div>
                  </div>
                </div>
                <a href="{{'OKI_KISEN_STATUS_URL'|translate}}">{{'OKI_KISEN'|translate}}{{'SHIP_STATUS'|translate}}</a>
              </div>
              <div ng-if="!statusSuccess" class="panel-body" ng-cloak>
                {{'NO_STATUS' | translate}}<br>
                <a href="{{'OKI_KISEN_STATUS_URL'|translate}}">{{'OKI_KISEN'|translate}}{{'SHIP_STATUS'|translate}}</a>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title" ng-cloak>{{'OKI_KANKO' | translate}}</h2>
              </div>
              <div class="panel-body">
                <div class="panel" ng-if="statusSuccess" ng-class="{'panel-default': !statusIsokaze.hasAlert, 'panel-info': statusIsokaze.status === 0, 'panel-danger': statusIsokaze.status === 1, 'panel-warning': (2 <= statusIsokaze.status) && (statusIsokaze.status <= 3), 'panel-success': statusIsokaze.status === 4}">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak><a href="" ng-click="showShip('ISOKAZE')">{{'ISOKAZE' | translate}}</a></h2>
                  </div>
                  <div ng-if="statusSuccess" class="panel-body">
                    <div ng-if="statusIsokaze.hasAlert" ng-cloak>
                      <dl>
                        <dt>{{'UPDATE_TIME' | translate}}</dt>
                        <dd>{{ statusIsokaze.updated }}</dd>
                      </dl>
                      <dl>
                        <dt>{{'SHIP_STATUS' | translate}}</dt>
                        <dd ng-if="statusIsokaze.status === 0">{{'NORMAL_SERVICE' | translate}}</dd>
                        <dd ng-if="statusIsokaze.status === 1">{{'FULLY_CANCELLED' | translate}}</dd>
                        <dd ng-if="statusIsokaze.status === 2">{{'PARTIALLY_CANCELLED' | translate}}</dd>
                        <dd ng-if="statusIsokaze.status === 3">{{'CHANGED' | translate}}</dd>
                        <dd ng-if="statusIsokaze.status === 4">{{'SERVICE_RESUMED' | translate}}</dd>
                      </dl>
                      <dl>
                        <dd ng-if="(statusIsokaze.status === 2) || (statusIsokaze.status === 4)">
                          <table class="table">
                            <thead>
                              <tr><th>{{'DEPARTURE' | translate }}</th><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'ARRIVAL' | translate }}</th></tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{statusIsokaze.departure | translate}}</td>
                                <td>{{statusIsokaze.startTime | date:'H:mm'}}</td>
                                <td>{{statusIsokaze.arrival | translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </dd>
                      </dl>
                      <dl ng-if="(1 <= statusIsokaze.status) && (statusIsokaze.status <= 2)" >
                        <dt>{{'REASON' | translate}}</dt>
                        <dd>{{ statusIsokaze.reason | translate }} <a ng-if="language() === 'en'" href="https://translate.google.co.jp/?hl=ja#view=home&op=translate&sl=ja&tl=en&text={{ statusIsokaze.reason }}"><i class="glyphicon glyphicon-transfer"></i> English</a></dd>
                      </dl>
                      <dl ng-if="statusIsokaze.extraShips.length > 0">
                        <dt>{{'EXTRA_SHIPS' | translate}}</dt>
                        <dd>
                          <table class="table">
                            <thead>
                              <tr><th>{{'DEPARTURE' | translate }}</th><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'ARRIVAL' | translate }}</th></tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="trip in statusIsokaze.extraShips">
                                <td>{{trip.departure | translate}}</td>
                                <td>{{trip.departure_time | date:'H:mm'}}</td>
                                <td>{{trip.arrival | translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </dd>
                      </dl>
                      <dl ng-if="(statusIsokaze.extraShips.length === 0) && (statusIsokaze.lastShips.length > 0)">
                        <dt>{{'LAST_SHIPS' | translate}}</dt>
                        <dd>
                          <table class="table">
                            <thead>
                              <tr><th>{{'DEPARTURE' | translate }}</th><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'ARRIVAL' | translate }}</th></tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="trip in statusIsokaze.lastShips">
                                <td>{{trip.departure | translate}}</td>
                                <td>{{trip.departure_time | date:'H:mm'}}</td>
                                <td>
                                  <span ng-if="(trip.via !== null) && language()==='ja'">{{trip.via | translate}}{{'VIA' | translate}}</span>
                                  {{trip.arrival | translate}}
                                  <span ng-if="(trip.via !== null) && language()==='en'">{{'VIA' | translate}} {{trip.via | translate}}</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </dd>
                      </dl>
                      <dl ng-if="statusIsokaze.comment">
                        <dt>{{'COMMENT' | translate}}</dt>
                        <dd>{{ statusIsokaze.comment }} <a ng-if="language() === 'en'" href="https://translate.google.co.jp/?hl=ja#view=home&op=translate&sl=ja&tl=en&text={{ statusIsokaze.comment }}"><i class="glyphicon glyphicon-transfer"></i> English</a></dd>
                      </dl>
                    </div>
                    <div ng-if="!statusIsokaze.hasAlert" ng-cloak>
                      {{'NO_ALERT' | translate}}
                    </div>
                  </div>
                </div>
                <div ng-if="!statusSuccess" class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak><a href="" ng-click="showShip('ISOKAZE')">{{'ISOKAZE' | translate}}</a></h2>
                  </div>
                  <div class="panel-body">
                    {{'NO_STATUS' | translate}}
                    <address ng-cloak>
                      {{'CONTACT' | translate}}: {{'OKI_KANKO' | translate}}{{'COMPANY' | translate}} {{'BEPPU_OFFICE' | translate}}<a href="tel:0851478412">08514-7-8412</a>
                    </address>
                  </div>
                </div>
                <div class="panel" ng-if="statusSuccess" ng-class="{'panel-default': !statusDozen.hasAlert, 'panel-info': statusDozen.status === 0, 'panel-danger': statusDozen.status === 1, 'panel-warning': (2 <= statusDozen.status) && (statusDozen.status <= 3), 'panel-success': statusDozen.status === 4}">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak><a href="" ng-click="showShip('FERRY_DOZEN')">{{'FERRY_DOZEN' | translate}}</a></h2>
                  </div>
                  <div class="panel-body">
                    <div ng-if="statusDozen.hasAlert" ng-cloak>
                      <dl>
                        <dt>{{'UPDATE_TIME' | translate}}</dt>
                        <dd>{{ statusDozen.updated }}</dd>
                      </dl>
                      <dl>
                        <dt>{{'SHIP_STATUS' | translate}}</dt>
                        <dd ng-if="statusDozen.status === 0">{{'NORMAL_SERVICE' | translate}}</dd>
                        <dd ng-if="statusDozen.status === 1">{{'FULLY_CANCELLED' | translate}}</dd>
                        <dd ng-if="statusDozen.status === 2">{{'PARTIALLY_CANCELLED' | translate}}</dd>
                        <dd ng-if="statusDozen.status === 3">{{'KURI_CANCELLED' | translate}}</dd>
                        <dd ng-if="statusDozen.status === 4">{{'SERVICE_RESUMED' | translate}}</dd>
                      </dl>
                      <dl>
                        <dd ng-if="(2 <= statusDozen.status) && (statusDozen.status <= 4)">
                          <table class="table">
                            <thead>
                              <tr><th>{{'DEPARTURE' | translate }}</th><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'ARRIVAL' | translate }}</th></tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{statusDozen.departure | translate}}</td>
                                <td>{{statusDozen.startTime | date:'H:mm'}}</td>
                                <td>{{statusDozen.arrival | translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </dd>
                      </dl>
                      <dl ng-if="(1 <= statusDozen.status) && (statusDozen.status <= 3)" >
                        <dt>{{'REASON' | translate}}</dt>
                        <dd>{{ statusDozen.reason | translate }} <a ng-if="language() === 'en'" href="https://translate.google.co.jp/?hl=ja#view=home&op=translate&sl=ja&tl=en&text={{ statusDozen.reason }}"><i class="glyphicon glyphicon-transfer"></i> English</a></dd>
                      </dl>
                      <dl ng-if="statusDozen.extraShips.length > 0">
                        <dt>{{'EXTRA_SHIPS' | translate}}</dt>
                        <dd>
                          <table class="table">
                            <thead>
                              <tr><th>{{'DEPARTURE' | translate }}</th><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'ARRIVAL' | translate }}</th></tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="trip in statusDozen.extraShips">
                                <td>{{trip.departure | translate}}</td>
                                <td>{{trip.departure_time | date:'H:mm'}}</td>
                                <td>{{trip.arrival | translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </dd>
                      </dl>
                      <dl ng-if="(statusDozen.extraShips.length === 0) && (statusDozen.lastShips.length > 0)">
                        <dt>{{'LAST_SHIPS' | translate}}</dt>
                        <dd>
                          <table class="table">
                            <thead>
                              <tr><th>{{'DEPARTURE' | translate }}</th><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'ARRIVAL' | translate }}</th></tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="trip in statusDozen.lastShips">
                                <td>{{trip.departure | translate}}</td>
                                <td>{{trip.departure_time | date:'H:mm'}}</td>
                                <td>{{trip.arrival | translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </dd>
                      </dl>
                      <dl ng-if="statusDozen.comment">
                        <dt>{{'COMMENT' | translate}}</dt>
                        <dd>{{ statusDozen.comment }} <a ng-if="language() === 'en'" href="https://translate.google.co.jp/?hl=ja#view=home&op=translate&sl=ja&tl=en&text={{ statusDozen.comment }}"><i class="glyphicon glyphicon-transfer"></i> English</a></dd>
                      </dl>
                    </div>
                    <div ng-if="!statusDozen.hasAlert">
                      {{'NO_ALERT' | translate}}
                    </div>
                  </div>
                </div>
                <div ng-if="!statusSuccess" class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title" ng-cloak><a href="" ng-click="showShip('FERRY_DOZEN')">{{'FERRY_DOZEN' | translate}}</a></h2>
                  </div>
                  <div class="panel-body">
                    {{'NO_STATUS' | translate}}
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><a href="" ng-click="showShip('KUNIGA_SIGHTSEEING_BOAT')">{{'KUNIGA_SIGHTSEEING_BOAT' | translate}}({{'NISHINOSHIMA_CHO' | translate}})</a></h2>
                  </div>
                  <div class="panel-body" ng-if="statusKunigaKankou.success && statusKunigaKankou.hasAlert">
                    <dl>
                      <dt>{{'UPDATE_TIME' | translate}}</dt>
                      <dd>{{ statusKunigaKankou.lastUpdate }}</dd>
                    </dl>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h2 class="panel-title" ng-cloak>{{'KUNIGA_COURSE_A' | translate}}</h2>
                      </div>
                      <div class="panel-body">
                        <table class="table">
                          <thead>
                            <tr><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'SHIP_STATUS' | translate }}</th><th>{{'COMMENT' | translate }}</th></tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="trip in statusKunigaKankou.courseA">
                              <td>{{trip.departure_time}}</td>
                              <td ng-if="trip.sightseeing_status === 0">{{'NORMAL_SERVICE' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 1">{{'CANCELLED' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 2">{{'CAPTAINS_CHOICE' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 3">{{'UNDECIDED' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 4">{{'CHANGED' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 5">{{'SKIP_EAST_KUNIGA' | translate}}</td>
                              <td>{{trip.comment}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h2 class="panel-title" ng-cloak>{{'KUNIGA_COURSE_B' | translate}}</h2>
                      </div>
                      <div class="panel-body">
                        <table class="table">
                          <thead>
                            <tr><th>{{'DEPARTURE_TIME' | translate }}</th><th>{{'SHIP_STATUS' | translate }}</th><th>{{'COMMENT' | translate }}</th></tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="trip in statusKunigaKankou.courseB">
                              <td>{{trip.departure_time}}</td>
                              <td ng-if="trip.sightseeing_status === 0">{{'NORMAL_SERVICE' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 1">{{'CANCELLED' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 2">{{'CAPTAINS_CHOICE' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 3">{{'UNDECIDED' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 4">{{'CHANGED' | translate}}</td>
                              <td ng-if="trip.sightseeing_status === 5">{{'SKIP_EAST_KUNIGA' | translate}}</td>
                              <td>{{trip.comment}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body" ng-if="statusKunigaKankou.success && !statusKunigaKankou.hasAlert">
                    {{'NO_ALERT' | translate}}
                  </div>
                  <div class="panel-body" ng-if="!statusKunigaKankou.success">
                    {{'NO_STATUS' | translate}}
                  </div>
                </div>
                <address ng-cloak>
                  {{'CONTACT' | translate}}: {{'OKI_KANKO' | translate}}{{'COMPANY' | translate}} <a href="tel:0851478412">08514-7-8412</a>
                </address>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Powered by <a href="https://oki-digilab.com/">隠岐デジタルラボ</a></p>
      </div>
    </footer>
    <script type="text/javascript">
    var nend_params = {"media":39449,"site":213827,"spot":604275,"type":1,"oriented":1};
    </script>
    <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
  </body>
</html>
